<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="PromisePay">
      <section name="Settings" type="PromisePayDotNet.Settings.SettingsHandler,PromisePayDotNet" />
    </sectionGroup>
  </configSections>
  <PromisePay>
    <Settings>
      <add key="ApiUrl" value="https://test.api.promisepay.com" />
      <add key="Login" value="idsidorov@gmail.com" />
      <add key="Password" value="mJrUGo2Vxuo9zqMVAvkw" />
      <add key="Key" value="mJrUGo2Vxuo9zqMVAvkw" />
    </Settings>
  </PromisePay>
</configuration>
